
<body>
    <h2>My Address Book</h2>
    <%=message%>
    <form action = "/input" method = "post"><b>

        First Name: <br>
            <input type="text" name="firstname"><br>
        Last Name: <br>
            <input type="text" name="lastname"><br>
        Phone Number: <br>
            <input type="text" name="phonenumber"><br>
        Street: <br>
            <input type="text" name="street"><br>
        City: <br>
            <input type="text" name="city"><br>
        State: <br>
            <input type="text" name="state"><br>
        Zip: <br>
            <input type="text" name="zip"><br>
        <br><input type="submit" value="Submit" id="input">
    </b></form>


</body>


